<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>one page application</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2>Add Employee</h2>
    <div th:if="${error}"> problem!!!!!!!!!!!</div>
    <form action="#" method="post" th:object="${employee}">
        First Name:<input type="text" id="firstName" name="firstName" required="required"/><br/><br/>
        Last Name:<input type="text" id="lastName" name="lastName" required="required"/><br/><br/>
        Email:<input type="email" id="email" name="email" required="required"/><br/><br/>
        Phone:<input type="text" id="phone" name="phone" required="required"/><br/><br/>
        <!--            Created Date:<input type="date" id="createdDate" name="createdDate" required="required"/><br/><br/>-->
        <!--            Updated Date:<input type="date" id="updatedDate" name="updatedDate" required="required"/><br/><br/>-->
        <button type="submit" value="submit" id="submit" name="submit">save</button>
    </form>

    <hr/>

    <button type="button" id="check">check</button>

    <h2>Employee List</h2>
    <a th:href="@{'/createExcel'}" style="float:right;"><img th:src="@{/images/excel_icon.png}" style="width:40px;margin-left:10px;"></a>
    <a th:href="@{/createPdf}" style="float:right;"><img th:src="@{/images/pdf_icon.png}" style="width:40px;margin-left:10px;"></a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr th:each="employee:${employees}">-->
<!--            <th scope="row" th:text="${employee.id}"></th>-->
<!--            <td th:text="${employee.firstName}"></td>-->
<!--            <td th:text="${employee.lastName}"></td>-->
<!--            <td th:text="${employee.email}"></td>-->
<!--            <td th:text="${employee.phone}"></td>-->
<!--        </tr>-->

        </tbody>
    </table>
</div>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>

<!-- Latest compiled JavaScript -->
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>